/*======================================= Main Css =================================================*/
#homeTop{
  position: relative;
  height: 100%;
  background: url(./images/homeTop-background-2.png) no-repeat;
  background-size: cover;
}
.largeLogo{
  img{
    display: block;
    margin: 0 auto;
  }
  h1{
    text-align: center;
    color: $red;
    font-weight: 900;
    font-size: 40px;
  }
}

.homeBoxes{
  display: inline-block;
  background: #fff;
  border: 1px $dark-grey solid;
  border-radius: 10px;
  padding: 30px;
  margin: 15px;
  text-align: center;
  box-shadow: $dark-grey 0px 1px 10px 2px;
  img{
    display: block;
    margin: 0 auto;

  }
  h2{
    color: $red;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  a{
    color:$purple;
    text-decoration: none;
  }

}
a.btn-main.learnMore{
  display: inline-block;
  border:solid 1px $dark-grey;
  border-radius: 10px;
  padding: 3px 10px;
  text-align: center;
  margin: 0 auto;
  color:$purple;
  font-weight: 600;
  &:hover{
    background-color: $purple;
    color: #fff;
  }
}
.downButton{
  position: absolute;
  display: block;
  width:40px;
  height:40px;
  border: $purple 3px solid;
  border-radius: 20px;
  text-align: center;
  bottom: 10px;
  left:50%;
  span{
    color: $purple;
    font-weight: 600;
    &:nth-child(1){
      display: block;
      margin-top:6px;

    }
    &:nth-child(3){
      display: block;
      margin-top:-25px;
    }
  }
}
a#scrollDown.downButton{
  display: none;
  text-decoration: none;
}
#homeContent{
  position: relative;
  height: 100%;
  background: url(./images/homeContent-background-2.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.whiteBackground{
  background-color: #fff;
  text-align: center;
  padding-bottom: 20px;
  box-shadow: #000 0px 5px 9px;
  img{
    display: block;
    margin: 20px auto 0 auto;
    .authorImage{
      margin: 0;
      float: left;

    }
  }
  h2{
    color: $red;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
}
a.right.carousel-control{
  background-color: transparent;
  background-image: none;
}
a.left.carousel-control{
  background-color: transparent;
  background-image: none;
}
.carousel-control{
  color:$purple;
}
.carousel-inner{
  padding: 0 30px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
  margin-top:-140px;
}
.authorImage{
  img{
    width: 80px;
    margin:0 0 0 -15px;
  }
}
h4.authorName{
  padding: 0;
  margin: 0;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}
p.authorLocation{
  padding: 0;
  margin: 0;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}
p.authorProfession{
  padding: 0;
  margin: 0;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}
#video{
  position: relative;
  //min-height: 1350px;
  height: 100%;
  background: url(./images/video-background-2.png) no-repeat;
  background-size: cover;
  //background-position-x: -300px;
  //background-position-y: -100px;
  background-attachment: fixed;
  .whiteBackground{
    //position: relative;
    //top:440px;
  }
}
.video-container{
  position: relative;
  //background-color: #000;
  video{
    position: relative;
  	top: 10px;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}
.learnContent{
  h2{
    color: $red;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }

}
#testimonialSection{
  position: relative;
  height: 100%;
  background: url(./images/testimonial-background.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.redFacebook{
  background: url(./images/facebook-sprite-30.png) no-repeat;
    background-position-y: -31px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 0 0 40px;
    &:hover{
      background-position-y: 0px;
    }
}
.redLinkedIn{
  background: url(./images/linkedin-sprite-30.png) no-repeat;
    background-position-y: -31px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 0 0 20px;
    &:hover{
      background-position-y: 0px;
    }
}
#contactSection{
  //position: relative;
  //height: 100%;
  //background: url(./images/homeContent-background.png) no-repeat;
  //background-size: cover;
  //background-attachment: fixed;
  h2{
    color: $red;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  span{
    h2{
      color: $purple;
      text-align: left;
    }
  }
  span.phone, span.email{
    margin-left: 12px;
  }
  .contactForm .input-lg {
    border-radius: 20px;
    color:$purple;
  }
  .form-group{
    margin: -10px 0 0 0;
  }
  .input-lg{
    height: 24px
  }
  select[multiple].input-lg, textarea.input-lg {
    height:90px;
  }
  .wpcf7-submit {
    float: right;
    background: $purple;
    border:1px solid $purple;
    border-radius: 12px;
    color: #ffffff;
    padding: 3px 20px;
    margin-top: 10px;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $purple !important;
    opacity: 1;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $purple !important;
    opacity: 1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $purple !important;
    opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $purple !important;
    opacity: 1;
  }
}
//playpause
.playpause {
    background-image:url(./images/play.png);
    background-color: rgba(0, 0, 0, .8);
    background-repeat:no-repeat;
    width:96%;
    height:99%;
    position:absolute;
    left:0%;
    right:0%;
    top:3%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
.mainContent{
  padding: 30px 20px;
  min-height: 375px;
}

.caption{
  p:nth-child(1){
    text-align: left;
    font-size: 30px;
  }
  p:nth-child(2){
    padding: 10px;
  }
  p:nth-child(3){
    text-align: right;
    font-size: 30px;
  }
  .quoteInfo{
    p{
      text-align: left;
      padding: 0;
      font-size: 15px
      ;
    }
  }
}
