/*======================================= Variables =================================================*/
//colors
$blue:rgb(62, 57, 79);
$dark-grey:rgb(86, 86, 86);
$red:rgb(199, 44, 40);
$purple:rgb(62, 57,79);
